/* ----------------------------------------------
            MAJOR LEAGUE MINING 2012
             Credits on /humans.txt
-------------------------------------------------*/

* {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

html, body {height: 100%;}

body {
    margin: 0;
    padding: 0;
    background: #f9f9f9 url(../images/static/bg/white.png) repeat fixed center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

/* Backgrounds */

.bg-white { background-image: url(../images/static/bg/white.png) }
.bg-black { background-image: url(../images/static/bg/black.png) }
    .bg-black .submenu li.disabled a { color: #f0f0f0 }
    .bg-black .submenu li a { color: #fff; text-shadow:0px 1px 1px #000;}
.bg-red { background-image: url(../images/static/bg/red.png) }
.bg-green { background-image: url(../images/static/bg/green.png) }
.bg-blue { background-image: url(../images/static/bg/blue.png) }
.bg-cyan { background-image: url(../images/static/bg/cyan.png) }
.bg-yellow { background-image: url(../images/static/bg/yellow.png) }
.bg-magenta { background-image: url(../images/static/bg/magenta.png) }
.bg-devblue { background-image: url(../images/static/bg/devblue.jpg) }
    .bg-devblue .submenu li.disabled a { color: #f0f0f0 }
    .bg-devblue .submenu li a { color: #fff; text-shadow:0px 1px 1px #000;}
.bg-creeper { background-image: url(../images/static/bg/creeper.png) }

/* Opera Fix for sticky footer */

body::before {/* thanks to Maleika (Kohoutec) */
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float */
}

::selection {
    background: rgb(54, 167, 252);
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background: rgb(54, 167, 252);
    color: white;
    text-shadow: none;
}

::-webkit-scrollbar-thumb:vertical { background-color:#ADADAD; height:50px; }
::-webkit-scrollbar-thumb:horizontal { background-color:#ADADAD; height:10px; }
::-webkit-scrollbar { height:10px; width:10px; background-color:#e1e1e1; }

/* helper classes */

.left {float: left!important}
.right {float: right!important}
.center {text-align: center!important}
.inline {display: inline!important}
.maxwidth { width: 100%!important}
.halfwidth { width: 49.5% !important}
.borderless { border: none !important}

a { color: #1e95cf; text-decoration: none }

a:hover { color: #005580 }

.global-wrapper { min-height: 100%; }

/* Global Header
   ================================================== */

#global-header {
    margin-bottom: 13px;
    width: 100%;
    min-width: 990px;
    -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76); -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76); box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
}

#global-header #main {
    position: relative;
    height: 50px;
    width: 100%;
    background: #223A87 url(../images/static/head-bar.png) repeat-x center;
    background-size: contain;
}

#global-header .holder {
    height: 100%;
    margin: 0 auto;
    width: 990px;
}

/* Logo
   ================================================== */

#global-header #logo {
    float: left;
}

#global-header #logo img {
    margin-top: -3px;
    width: 100px;
}

#global-header #logo h1 {
    display: inline;
    font: 26px/1 "Oswald";
    font-weight: 700;
    vertical-align: 13px;
}

#global-header #logo h1::after {
    content: "Alpha";
    margin-left: 2px;
    font: 15px/1 Helvetica;
    color: rgb(233, 233, 233);
    vertical-align: 11px;
}

#global-header #logo a {
    display: block;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 -1px 0px black;
    color: #fff;
    height: 50px;
}

#global-header #loginout {
    float: right;
    margin: 10px 0 0;
    padding: 0;
    font-family: "Oswald";
    text-align: right;
}

#global-header #loginout a.nosep {
    margin: 0;
    padding: 0;
    border: none;
}

#global-header #loginout a {
    padding: 0px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-shadow: 0 -1px 0px #000;
    border-right: 1px dotted #ADADAD;
}

#global-header #loginout img {
    margin-left: 6px;
    width: 20px;
    border: 2px #fff solid;
    -moz-box-shadow: 0 1px 1px #000;
    -webkit-box-shadow: 0 1px 1px #000;
    box-shadow: 0 1px 1px #000;
    vertical-align: -2px;
}

/* Global Menu
   ================================================== */

#menu {
    background: #E7E7E7 url(../images/static/menu.jpg) repeat-x center;
}

#menu ul {
    margin: 0 auto;
    width: 990px;
}

#mainmenu #search {
    display: inline-block;
    margin-top: 3px;
}

#mainmenu #search form, #mainmenu #search .input-append { margin: 0 }

#mainmenu #search input {
    background-color: #BEBEBE;
    width: 90px;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#mainmenu #search input:focus { width: 190px; background-color:#fff; color:#000; }

#menu li {
    display: inline-block;
    margin-left: -4px;
    border-left: 1px solid rgb(173, 173, 173);
    list-style: none;
    -moz-transition: box-shadow .3s ease-in-out;
    -ms-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

#menu li:hover {
    background: #B9B9B9;
    -moz-box-shadow: inset 0 0 10px #000;
    -webkit-box-shadow: inset 0 0 10px #000;
    box-shadow: inset 0 0 10px #000
}

#menu li:first-child {
    border: none
}

#menu li a {
    display: block;
    padding: 8px 20px;
    color: #333;
    font:20px/1 "Oswald";
    text-shadow: 0 1px 1px #fff;
    text-transform: uppercase;
}

/* Global content and wrapping
   ================================================== */

#wrapper {
    position: relative;
    margin: 0 auto;
    width: 990px;
    padding-bottom: 62px;
}

#content {
    padding: 20px;
    background: #E7E7E7;
    -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);}

/* Header Titles */

.titlebar {
    margin-bottom:10px;
    border-bottom: 1px dotted #333;
}

.titlebar.margin { margin: 10px 0 5px; }

.titlebar h1, .titlebar h2, .titlebar h3,.titlebar h4 {
    display: inline;
    margin: 10px 0;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    font-weight: normal;
    font-family: "Oswald";
    text-transform: uppercase;
}
.titlebar h1 {font-size: 32px}
.titlebar h2 {font-size: 24px}
.titlebar h3 {font-size: 18px}
.titlebar h4 {font-size: 14px}

/* Forms */

.form .control-group .control-label {
    display: inline;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    font-weight: normal;
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px dotted #333333;
    margin-bottom: 10px;
    display: block;
}
.form .control-group .control-label small {
    font-size: 14px;
    color: #666666;
}

/* Global Footer
   ================================================== */

#global-footer {
    position: relative;
    margin-top: -37px;
    padding: 0;
    width: 100%;
    background: #E7E7E7;
    -moz-box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.76);
    color: #000;
    line-height: 1;
    height: 37px;
    position: relative;
    clear: both;
}

#global-footer .holder {
    margin: 0 auto;
    padding: 0;
    width: 990px;
}

#global-footer .left img {
    float: left;
}

#global-footer .left p {
    display: inline-block;
    margin: 7px 0 0;
    font:300 17px/1 "Oswald";
}

#global-footer .right {
    margin-top: 3px;
}

#global-footer .right a {
    display: inline-block;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    overflow: hidden;
    font-size: 30px;
}

#global-footer a.fb { color: #3B5998 }
#global-footer a.tw { color: #4099FF }
#global-footer a.gp { color: #F90101 }

#global-footer .right a.sponsor {
    width: auto;
    padding-top: 5px;
    margin-right: 10px;
    font: 300 17px/1 "Oswald";
    color: #000;
    height: 20px;
    vertical-align: 3px;
}
#global-footer .right a.sponsor img {
    vertical-align: top;
}

#global-footer .right a:hover {text-shadow:0px 0px 1px #333;}

/* Action box (for all your 1 function pages needs)
   ================================================== */

#actionbox {
    display: none;
    margin: 28px auto;
    padding: 30px;
    max-width: 650px;
    background: #E7E7E7;
    -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    text-align: center;
    font-family: "Oswald";
    color: #333;
}

#actionbox h1 {
    font-weight: 400;
    text-shadow: 0px 1px 1px #fff;
}

#actionbox input {
    margin-bottom: 0
}

/* Home page
   ================================================== */

#home { min-height: 300px; }

/*  Feeds
   ================================================== */

#home .homecontent {
    margin: 0;
}

#home .homecontent section {
    display: inline-block;
    width: 290px;
    border-left: 1px dotted white;
    padding-left: 15px;
}

#home .homecontent h3 {
    margin-bottom: 10px;
    font-family: "Oswald";
    font-weight: 400;
    line-height: 1;
}

/* Login & Registration
   ================================================== */

.login ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}
.login ul li {
    display: inline-block;
    margin: 0 1px;
    box-shadow: 0 2px 3px -1px #000;
}

.login ul li:hover {
    box-shadow: 0 2px 3px -1px rgb(126, 126, 126);
}

.login ul li img {
    max-width: 115px;

}

.login ul li span {
    display: none;
}

/* OpenID input */

.login label.openid {
    display: inline-block;
    margin: 5px 10px 15px;
    font-size: 20px;
    line-height: 1;
    text-shadow: 0 1px 1px #000;
}

.login .openid-logo {
    color: #F7931E;
    padding: 0 0 0 28px;
    background: url(../images/login/openidico.png) no-repeat left;
}

/* Keep me Logged in/Remember User */

.login .openid-form fieldset.rememberme {
    clear: both;
    padding: 8px 0 0;
    margin-left: -20px;
    text-shadow: 0 1px 1px black;
}

.login #remember {
    margin-top: 0px;
}

.login .openid-form label.forget {
    font-size: 16px;
    display: inline-block;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Why we use OpenID on Login page */

.WhyOpenID {
    padding: 10px;
    font-size: 14px;
}

/* Disclaimer on Registration page */

.disclaimer {
    display: inline;
    color: #414141;
    font-size: 13px;
    margin-left: 10px;
}

/* General styles for pages
   ================================================== */

#page {
    float: left;
    width: 605px;
}

#page.bigger { width: 645px;}

#page.maxwidth { width: 100%;}

/* Submenu */

#pagemenu {
    position: relative;
    margin: 0 0 13px;
    background: #E7E7E7;
    -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    font: 15px "Oswald";
}

#pagemenu .nav {
    margin: 0;
    border:none;
}

#pagemenu .nav-tabs {
    padding:0;
    border-bottom: 0;
}

#pagemenu .nav-tabs > li {
    border-right: 1px solid rgb(173, 173, 173);
    margin: 0;
}

#pagemenu .nav-tabs > li > a {
    padding: 10px 15px;
    margin-right: 0;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#pagemenu .nav-tabs > li > a:hover {
    border: 1px solid transparent;
    background-color: #B9B9B9;
}

#pagemenu .nav-tabs > .active > a,
#pagemenu .nav-tabs > .active > a:hover {
    color: #fff;
    background-color: #999;
    border: 1px solid transparent;
    cursor: default;
    text-shadow: 0 1px 1px #000;
}

#pagemenu .nav-tabs > li > a.disabled:hover { background-color: transparent; cursor: default;}

#pagemenu .nav-tabs > li > a > [class^=icon-] {
    line-height: 15px;
}

#pagemenu .nav-tabs .dropdown-toggle .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

#pagemenu .nav-tabs .dropdown-toggle .caret:hover {
    border-top-color: #333;
    border-bottom-color: #333;
}

#pagemenu .dropdown-toggle { cursor: pointer !important }

#pagemenu .dropdown-menu {
    margin: 0;
    left: auto;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#pagemenu .dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

#pagemenu .dropdown-menu a {
    padding: 7px 15px;
    border-top: 1px solid #F4F4F4;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #333;
    text-decoration: none;
    background-color: #B9B9B9;
    background-image: none;
}

#pagemenu li.rside{ float: right }
#pagemenu a.white{ color: #fff!important; text-shadow: 0px 1px 1px #000!important }

/* Pagemenu search */

#pagemenu .menusearch {
    margin: 0;
}
.menusearch .spacer {
    border-top: 1px solid #ADADAD;
    border-bottom: none;
    margin: 0 0 5px;
}

/* When the #pagemenu isn't enough */

.submenu {
    margin: 10px 0;
    font-family: "Oswald";
}

.submenu li a {
    color: #333;
    text-shadow: 0 1px 1px #fff;
    border: 1px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.submenu li a:hover {
    background-color: #B9B9B9;
    border: 1px solid #ADADAD;
}

.submenu li.disabled a {
    color: #000;
    border: 1px solid transparent;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 330px;
}

#sidebar.smaller { width: 295px;}

#sidebar .widget {
    margin-bottom: 10px;
}

#sidebar .widget header {
    padding: 7px 0 7px 10px;
    background: #D8D8D8;
    border: 1px solid #ADADAD;
}

#sidebar .widget header h1 {
    color: #333;
    font:400 16px/1 "Oswald";
    text-shadow: 0px 1px 1px #fff;
}

#sidebar .widget .content {
    padding: 11px;
    background: #F9F9F9;
    -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    border: 1px solid #ADADAD;
    border-top: 0
}

#sidebar .widget p {
}

#sidebar .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.#sidebar .widget li {
    margin: 0px 0px 20px 0px;
    padding: 0;
}

 #sidebar .widget li ul {
    margin: 0;
    padding: 0;
}

#sidebar .widget li li {
    border-bottom: 1px dotted #D8D8D8;
    margin: 0px 0px;
    padding: 5px 0px;
    border-left: none;
}

.#sidebar .widget li li a {
    color: #fff;
}

#sidebar .widget li li span {
    display: block;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

/* Admin pages
   ================================================== */

.admin .fixedheight{ max-height: 500px; overflow-y:auto }

#show-adminmenu {
    padding: 5px;
    background: #333;
    color: #eee;
}

#adminmenu {
    display: none;
    position: absolute;
    padding: 20px;
    overflow: hidden;
    background: #333;
    color: #eee;
    z-index: 1000;
    -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.76);
}

#adminmenu ul {
    margin-top: 10px;
}

#adminmenu ul li {
    display: inline-block;
    width: 200px;
    list-style: none;
    font-size: 20px;
    padding: 3px 10px;
}

#adminlog .logitem {
    border-bottom: 1px solid #DDD;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
#adminlog .muted {
    display: block;
    font-size: 11px;
    text-align: right;
}

/* News page
   ================================================== */

.news {}

.news .pagination { clear: both }

/* News front page
   ================================================== */

.post {
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px dotted #333;
}

.post h2.title, .post .title a {
    margin: 0;
    font: 32px/1 "Oswald";
    letter-spacing: -1px;
    color: #474747;
    text-shadow: 0px 1px 1px #fff;
}

.post h2.title {
    margin-bottom: 15px;
}

.post .title a {
    padding: 0;
}

.post .image {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 4px solid #ADADAD;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px black;
}

.post .meta {
    display: block;
    margin: 15px 0;
    padding: 10px 0;
    background: #D8D8D8;
    border: 1px solid #ADADAD;
    font-size: 14px;
    color: #434343;
    -moz-box-shadow: 0 8px 6px -6px #000;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
}

.post .meta .date {
    float: left;
 }

.post .meta a {
    display: inline;
    margin-left: -4px;
    padding: 10px 15px;
    background: #E7E7E7;
    color: #333;
    border-right: 1px solid #ADADAD;
 }

.post .meta a:hover {
    background: #B9B9B9;
 }

.post .meta .more {
    margin: 0;
}

.post .meta .comment-nr:hover::after{
    content: " Comments"
}

.post .meta .date a {
    border-right: none;
    border-left: 1px solid #ADADAD;
}

.post.single {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

/* Maps
   ================================================== */

.maps {}

.maps-single {}

.maps-single #sidebar span { display: block; }

/* Map ratings */

.rating {
    float:right;
    text-shadow:0px 1px 1px #fff;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .02em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ccc;
}

.rating:not(:checked) > label::before {
    content: ' ';
    font-family: FontAwesome;
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #333;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.rating-avg {
    float: right;
    position: relative;
    display: block;
    margin-top: -16px;
    width: 42px;
    height: 50px;
    cursor: default;
}

.rating-avg .icon-star {
    position: absolute;
    right: 0;
    color: #ADADAD;
    font-size: 50px;
    text-shadow: 0px 1px 1px #fff;
}

.rating-avg .number {
    position: absolute;
    top: 19px;
    font-size: 18px;
    font-weight: bold;
    width: 42px;
    height: 50px;
    color: #333;
    text-align: center;
}

/* Big green download box */
.big-green-download-box {
    display: block;
    text-align: left;
    margin: 10px 0;
    /* .btn */
    font-size:14px;
    line-height:20px;
    *line-height:20px;
    vertical-align:0;
    /* .btn-success */
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color:#5bb75b;
    background-image:-moz-linear-gradient(top,#62c462,#51a351);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image:-webkit-linear-gradient(top,#62c462,#51a351);
    background-image:-o-linear-gradient(top,#62c462,#51a351);
    background-image:linear-gradient(to bottom,#62c462,#51a351);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    border-color:#51a351 #51a351 #387038;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    *background-color:#51a351;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.big-green-download-box .download-capture {
    display: block;
    color: #fff;
    padding:4px 14px;
}
.big-green-download-box .download-capture:hover {
    background: rgba(0, 0, 0, 0.1);
}
.big-green-download-box .arrow-pointing-down {
    float: left;
    font-size: 60px;
    line-height: 60px;
    margin-right: 10px;
    height: 60px;
    color: rgba(0, 0, 0, 0.05);
}
.big-green-download-box .big-downlaod-text {
    font-size: 24px;
    line-height: 30px;
}
.big-green-download-box .muted {
    color: #444444;
    text-shadow: none;
}
.big-green-download-box .otherway {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 5px;
}
.big-green-download-box .transparent {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    box-shadow: none !important;
    padding: 0;
    color: #cccccc;
    margin: 0;
}
.big-green-download-box .label {
    display: inline !important;
}

/* Profiles / Teams
   ================================================== */

/* Virtual Card */

.profile #vcard {
    margin-bottom: 10px;
    padding: 5px;
    width: auto;
    background: #D8D8D8;
    border: 1px solid #ADADAD;
    text-shadow: 0px 1px 1px #fff;
}

.profile #vcard .avatar {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 5px;
    background: rgb(230, 230, 230);
    border: 1px solid rgb(211, 211, 211);
}

.profile #vcard .avatar img {
    max-width: 80px;
    margin: 0;
    vertical-align: top;
}

.profile #vcard .name {
    float: left;
    padding: 3px 0px;
}

.profile #vcard .name h1 {
    margin-top: 0;
    font-family:"Oswald";
    font-size: 40px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -2px;
}

.profile #vcard .name h2 {
    margin: -5px 0 0;
    font-size: 23px;
    line-height: 1;
}

.profile #vcard .name h3 {
    margin: 4px 0 0;
    font-size: 18px;
    line-height: 1;
}

.profile #vcard .stats {
    float: right;
    margin-bottom: 4px;
}

.profile #vcard .stats ul {
    display: inline-block;
    margin: 0;
}

.profile #vcard .stats ul li {
    display: inline-block;
    margin-left: -4px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.profile #vcard .stats ul li.active {
    background-color: #ADADAD;
}

.profile #vcard .stats ul li a {
    display: block;
    padding: 26px 0px 18px;
    border-left: 1px dotted rgb(173, 173, 173);
    color: #333;
}

.profile #vcard .stats ul li:first-child > a{
    border-left: none;
}

.profile #vcard .stats ul li a:hover {
    background-color: #f9f9f9;
}

.profile #vcard .stats ul li span{
    display: block;
    margin-bottom: 10px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -2px;
}

.profile #vcard .abotalit {
    display: block;
    float: left;
    width: 100%;
    border-top: 1px dotted rgb(173, 173, 173);
}

.profile #vcard .abotalit ul {
    margin: 5px 0px 0px;
}

.profile #vcard .abotalit ul li {
    display: inline-block;
    margin-right: -4px;
    padding:0 4px;
    border-right: 1px dotted rgb(173, 173, 173);
    list-style: none;
    line-height: 1;
    vertical-align: top;
}

.profile #vcard .abotalit ul li a,.profile .block b { color: #333 }
.profile #vcard .abotalit a:hover, .profile .block b:hover { color: #666 }

.profile #vcard .user-rank {
    display: block;
    margin-top: 1px;
    height: 16px;
    width: 16px;
    background: url(../images/static/urank.png) no-repeat;
    box-shadow: 0px 1px 1px #fff;
}
.profile #vcard .user-rank.admin {background-position: 0px 0px;}
.profile #vcard .user-rank.dev {background-position: 0px -16px;}
.profile #vcard .user-rank.mod {background-position: 0px -32px;}
.profile #vcard .user-rank.editor {background-position: 0px -48px;}

/* Sidebar */

.profile #page,.profile .block {
    position: relative;
    padding: 5px;
    background: #D8D8D8;
    border: 1px solid #ADADAD;
}

.profile #page {
    float: right;
    width: 610px;
}
.profile #page #multiview .list .mv-image { max-width: 100px; }

.profile .block {
    float: left;
    margin-bottom: 10px;
    text-shadow:0px 1px 1px #fff;
}

.profile .block .avatar {
    display: block;
    float: left;
    margin-right: 5px;
    padding: 3px;
    background: rgb(230, 230, 230);
    border: 1px solid rgb(211, 211, 211);
}

.profile .block .avatar img {
    display: block;
    margin: 0;
}

.profile .block .name {
    float: right;
    width: 76.5%;
}

.profile .block .name a {
    color: #333;
}

.profile .block .name h1 {
    margin: 0px 0px 8px;
    font-family:"Oswald";
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -2px;
}

.profile .block .name h2 {
    margin: -5px 0 0;
    font-size: 20px;
    line-height: 1;
}

.profile .block .name h3 {
    margin: 4px 0 0;
    font-size: 18px;
    line-height: 1;
}

.profile .block .stats {
    float: right;
    margin: 10px 0;
    padding: 6px 0;
    width: 100%;
    border-top: 1px dotted #adadad;
    border-bottom: 1px dotted #adadad;
}

.profile .block .stats ul {
    margin: 0;
    text-align: center;
}

.profile .block .stats ul li {
    display: inline-block;
    margin-left: -4px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.profile .block .stats ul li a {
    display: block;
    padding: 26px 0px 18px;
    border-left: 1px dotted rgb(173, 173, 173);
    color: #333;
}

.profile .block .stats ul li:first-child > a{
    border-left: none;
}

.profile .block .stats ul li a:hover {
    background-color: #f9f9f9;
}

.profile .block .stats ul li span{
    display: block;
    margin-bottom: 10px;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -2px;
}

/* Teams */

.team ul.thumbnails .tile { width:100px; margin-left:23px }

.team .case {
    position: relative;
    margin-bottom: 10px;
    background: #E7E7E7;
    overflow-x: scroll;
    white-space: nowrap;
    -moz-box-shadow: inset 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: inset 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    box-shadow: inset 0 2px 6px -2px rgba(0, 0, 0, 0.76);
    border: 1px solid #ADADAD;
}

.team .case ul {
    margin: 0;
    padding: 0;
}

.team .case ul li {
    position: relative;
    display: inline-block;
    *display: inline;
    margin-left: -4px;
    padding: 10px 34px;
    list-style: none;
    border-right: 1px solid #adadad;
}

.team .case ul li:first-child::after {
    content: "Latest";
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 10px;
    width: 129px;
    border: 1px solid #ADADAD;
    background: #bebebe;
    font-weight: bold;
    text-align: center;
}

.team .case ul li i {
    font-size: 100px;
    width: auto;
    line-height: 1;
    text-shadow: 0px 1px 2px #fff;
}

.team .case ul li i.gold { color: #FFD700 }
.team .case ul li i.silver { color: #C0C0C0 }
.team .case ul li i.bronze { color: #8C7853 }

.team .case ul li a { display: block; }
.team .case ul li a { color: #333; }
.team .case ul li:hover { background-color: #f9f9f9; }

/* Account settings page
   ================================================== */

.account-settings #multibg a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 4px;
    padding: 2px;
    width: 109px;
    color: #333;
    background-color: #BEBEBE;
    border: 1px solid #ADADAD;
}

.account-settings #multibg a:hover {
    border: 1px solid #333;
}

.account-settings #multibg span {
    position: absolute;
    bottom:0;
    left: 0;
    padding: 3px 0px;
    width: 100%;
    background: #adadad;
    text-align: center;
    text-shadow: 0px 1px 1px #fff;
    -moz-box-shadow: rgb(0, 0, 0) 0px -1px 8px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px -1px 8px;
    box-shadow: rgb(0, 0, 0) 0px -1px 8px;
}

.account-settings #multibg img {
    width: 109px;
}

.account-settings ul {
    margin: 0;
    padding: 0;
    list-style:none;
    background: rgba(255, 255, 255, 0.2);
}

.account-settings .openids form {
    padding: 10px;
}

/* Messages
   ================================================== */

.messages {
    margin: 0;
    padding: 0;
}

.messages.index ol, .messages.view ul.itt, .messages.view > ol, .messages.view > ul {
    margin: 0;
}

.messages.index li {
    margin-bottom: 5px;
    list-style: none;
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(173, 173, 173);
}

.messages.index li:hover {
    background-color:#B9B9B9;
}

.messages.index li .title::before{
    content: "Ł";
    font-family: FontAwesome;
}

.messages.index li.unread .title::before{
    content: "";
    font-family: FontAwesome;
}

.messages.index li > a {
    display: block;
    padding: 10px;
    color: #333;
}

.messages.index .title {
    float: left;
    margin: 0 12px 0 0;
    line-height: 1;
}

.messages.index .title a {
    font-size: 17px;
}

.messages.index .meta {
    font-size: 13px;
    text-align: right;
}

.messages.view .itt li {
    display: inline-block;
    margin: 3px 3px 3px 0;
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(173, 173, 173);
    width: 31.7%;
}

.messages.view .itt li:hover {
    background-color:#B9B9B9;
}

.messages.view .itt li a {
    display: block;
    padding: 5px;
    color: #333;
}

.messages.view .itt li img {
    display: inline;
    vertical-align: top;
    border: 1px solid #ADADAD;
}

.messages .message {
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(173, 173, 173);
}

.messages .message:hover {
    background-color: rgb(216, 216, 216);
}

.messages .message .vcard {
    margin-bottom: 3px;
    padding: 6px;
    background: #BEBEBE;
    font-size: 15px;
}

.messages .message .vcard img, .messages .message img[alt=Pavatar]{
    display: inline;
    padding: 2px;
    background: #BEBEBE;
    border:1px solid #ADADAD;
    vertical-align: -5px;
}

.messages .message .body {
    padding: 0 6px;
    overflow: hidden;
}

.messages .message .body ol, .messages .message .body ul {
    margin: 0 0 10px 25px;
}

.messages .message img {
    display: block;
    max-width: 100%;
}

/* Old versions of IE / Javascript disabled
   ================================================== */

.chromeframe,.y-u-no-have-javascript-enabled {
    text-align: center;
    height: 30px;
    font-size: 18px;
    background: #1DD8F1;
    font-weight: 700;
    font-family: Arial,sans-serif;
    padding-top: 6px;
}

/* Image Manager
   ================================================== */

.modal {
    color: #333;
    width: 700px;
    margin-left: -350px;
}

#imagemanager {
    width: 770px;
    margin-left: -385px;
}

#imagemanager label {
    color: #333
}

#imagemanager .thumbnail {

}

.row-fluid .image-list {
    margin-left: -2.12766%
}

.row-fluid .image-list li {
    margin-left: 1.77% !important;
    margin-bottom: 10px;
}

/* New/Edit Articles, maps, pages, and anything else you
   can think of.
   ================================================== */

.edit {}

.edit .title {
    padding: 5px 8px;
    font-size: 22px;
    height: 38px;
    width: 100%;
    vertical-align: top;
    -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
}

.edit input.title::-webkit-input-placeholder { line-height: 1.2 }
.edit input.title:-moz-placeholder { line-height: 1.2 }
.edit input.title:-ms-input-placeholder { line-height: 1.2 }

.edit .subtitle {
    margin-bottom: 0;
    height: 30px;
    width: 100%;
    -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
}

.edit .summary {
    margin-bottom: 0;
    height: 60px;
    width: 100%;
    -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
}

/* WYSIWYG editor
   ================================================== */
.cleditorMain{width:100%!important;border:1px solid #999;padding:0 1px 1px;background-color:#fff;}.cleditorMain iframe{border:none;margin:0;padding:0}.cleditorMain textarea{border:none;white-space:afterproperty;margin:0;padding:0;overflow-y:scroll;font:10pt Arial;resize:none;outline:none }.cleditorToolbar{background:url('../images/admin/editor/toolbar.gif') repeat}.cleditorGroup{float:left;height:26px}.cleditorButton{float:left;width:24px;height:24px;margin:1px 0 1px 0;background:url('../images/admin/editor/buttons.gif')}.cleditorDisabled{opacity:0.3;filter:alpha(opacity=30)}.cleditorDivider{float:left;width:1px;height:23px;margin:1px 0 1px 0;background:#ADADAD}.cleditorPopup{border:solid 1px #999;background-color:#fff;position:absolute;font:10pt Arial;cursor:default;z-index:10000}.cleditorList div{padding:2px 4px 2px 4px}.cleditorList p,.cleditorList h1,.cleditorList h2,.cleditorList h3,.cleditorList h4,.cleditorList h5,.cleditorList h6,.cleditorList font{padding:0;margin:0;background-color:none;color:#000}.cleditorColor{width:150px;padding:1px 0 0 1px}.cleditorColor div{float:left;width:14px;height:14px;margin:0 1px 1px 0}.cleditorPrompt{background-color:#F6F7F9;padding:4px;font-size:8.5pt;color:#474747}.cleditorPrompt input,.cleditorPrompt textarea{font:8.5pt Arial}.cleditorMsg{background-color:#FDFCEE;width:150px;padding:4px;font-size:8.5pt}

/* fancyBox v2.1.3
   ================================================== */
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#D8D8D8;color:#444;text-shadow:none}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}.fancybox-outer,.fancybox-inner{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('../images/static/fancybox_sprite.png')}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:65px;height:65px;background:#D8D8D8 url('../images/static/ajax-loader.gif') center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('../images/static/blank.gif');/* helps IE */-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important}/* Overlay helper */.fancybox-lock{overflow:hidden}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('../images/static/fancybox_overlay.png')}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}/* Title helper */.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;/* Fallback for web browsers that doesn't support RGBa */background:rgba(0,0,0,0.8);text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}

/* Global comment style
   ================================================== */

#comments {
    margin-top: 10px;
}

ol.commentlist {
    margin:0;
    list-style: none;
}

.commentlist li {
    list-style: none; margin-bottom: 10px; background: #F9F9F9; border: 1px solid #ADADAD;
}

#comments .vcard {
    padding: 5px;
    background: #D8D8D8;
    color: #474747;
    font-size: 15px;
    font-style: italic;
}

#comments .vcard a {
    font-style: normal;
    font-size: 17px;
}

#comments .avatar {
    padding: 2px;
    width: 35px;
    vertical-align: -15px;
    background: #E6E6E6;
    border: 1px solid #D3D3D3;
}

#comments .body {
    overflow: hidden;
    padding: 10px;
    background: #F9F9F9;
    color: #474747;
    word-wrap: break-word;
}

#comments .body li { border: 0 }

#comments .body img { display: block ; max-width: 100%;}

#comments .body blockquote { margin: 0 0 10px }

#comments .meta {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 2;
    border-top: 1px dotted rgb(173, 173, 173);
}

#comments .meta .time {
    display: inline;
}

#comments .meta .actions {
    display: inline;
    float: right;
}

#comments .meta .actions ul {
    display: inline-block;
    margin: 0;
    list-style: none;
}

#comments .meta span:last-child {
    color: #474747;
}

/* New comment, reply */

#respond {
    padding: 5px 20px;
    background: #F9F9F9;
    border: 1px solid #ADADAD;
}

#respond h3,#respond h4 { color: #474747 }

#respond textarea { margin:0;height:100px;width: 535px; -webkit-border-radius: 0;  -moz-border-radius: 0;  border-radius: 0;}

#respond .help { color: #474747 }

#respond #comment {
    display: none;
    padding: 5px;
    margin-bottom: 10px;
    background: rgb(185, 185, 185);
    border: 1px solid #ADADAD;
}

#respond #preview { margin-bottom: 30px }

#respond .wysiwym-help table {
    background: none;
    color: #474747;
}


/* Multiviwer 3000 (Patent pending)
   ==================================================
   This can be used Anywhere on the site
*/

#multiview-controller {
    margin: 10px 0;
    font-family: "Oswald";
}

#multiview-controller li {
    display: inline-block;
    list-style: none;
}

#multiview {
    padding: 0;
    margin: 0;
}

#multiview ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#multiview ul li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 13px 6px;
    width: 100%;
    background: #D8D8D8;
    border: 1px solid #ADADAD;
    -moz-box-shadow: rgba(0, 0, 0, 0.760784) 0px 8px 8px -6px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.760784) 0px 8px 8px -6px;
    box-shadow: rgba(0, 0, 0, 0.760784) 0px 8px 8px -6px;
    word-wrap: break-word;
    line-height: 1;
}

/* Defaults */

#multiview .mv-image img { display:block; width: 100%; }

#multiview img[src*="blank.gif"] { height: 20%; background: url("../images/static/ajax-loader.gif") no-repeat center; }

#multiview .mv-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(231, 231, 231, 0.75);
    color: #fff;
    -webkit-box-shadow: rgb(0, 0, 0) 0px -1px 8px;
    box-shadow: rgb(0, 0, 0) 0px -1px 8px;
}

#multiview .mv-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 0 0;
    color: #333;
    font-size: 30px;
    text-shadow: 0px 1px 2px #fff;
}

#multiview .mv-title h1 {
    margin:0 0 5px 0;
    font:400 22px/25px "Oswald";
    letter-spacing: -1px;
    color:#333;
    text-shadow:rgb(226, 226, 226) 0px 1px 1px;
}

/* Grid view */

#multiview .grid li { margin: 6px; min-height: 168px; width: 31.75% }
#multiview .grid li:hover { box-shadow: 0px 8px 8px -6px #000; }
#multiview .grid .mv-image img { min-height: 168px; }
#multiview .grid .mv-details { padding: 5px 0 5px 5px }
#multiview .grid .mv-summary { display: none; }
#multiview .grid .mv-meta { display: none; }

/* Square grid */

#multiview .squared li { margin: 5px; height: 176px; width: 176px; }
#multiview .squared li:hover { box-shadow: 0px 8px 8px -6px #000; }
#multiview .squared .mv-image img { height: 176px; width: 176px; }
#multiview .squared .mv-details { padding: 5px 0 5px 5px }
#multiview .squared .mv-summary { display: none; }
#multiview .squared .mv-meta { display: none; }

/* Big View */

#multiview .big li { display: block; margin: 20px auto; }
#multiview .big li:first-child { margin-top: 0 }
#multiview .big .mv-details { padding: 10px 0 10px 10px; color: #333 }
#multiview .big .mv-title h1 { margin-bottom: 10px; font-size: 25px; }
#multiview .mv-meta { padding-top: 0; border-top: none; }

/* List view */

#multiview .list { }
#multiview .list li { display: block; margin: 0 0 10px 0; height: auto; width: auto; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;}
#multiview .list li:hover { background-color: #f9f9f9 }
#multiview .list li:first-child { margin-top: 0 }
#multiview .list .mv-image { float: left; margin: 5px 10px 5px 5px; max-width: 160px; }
#multiview .list .mv-details { position:static; padding: 10px; background: none; color: #333; -moz-box-shadow:none; -webkit-box-shadow: none ;box-shadow: none;}
/* #multiview .list .mv-image + .mv-details { margin-left: 160px; } */

#multiview .list .mv-title h1 { font-size: 20px;}
#multiview .list .mv-meta { padding-top: 5px; border-top: 1px dotted rgb(173, 173, 173); clear: both; }

/* Load more stuff */

#loadmore { margin-top: 5px; padding: ; border:1px solid #ADADAD; font:400 17px/2 "Oswald"; text-align: center }
#loadmore a { display:block; padding:10px; background:#E7E7E7; color:#333;}
#loadmore a:hover { background: #B9B9B9 }
#loadmore .pagination { margin: 5px 0 0; height: auto; }

/* Matches
   ================================================== */

#matches ol { margin: 0; }

#matches ol li { margin-bottom: 5px; list-style: none; background: #D8D8D8; border: 1px solid #ADADAD; /* Safari/Chrome, other WebKit */      /* Firefox, other Gecko */ }

#matches ol li:last-child { border-bottom: 1px solid #ADADAD; }

#matches ol li a { display: block; color: #333; text-shadow: 0 1px 0px #fff;}

#matches ol li a:hover { background-color: #f9f9f9; }

#matches .match .info {  border-bottom: 1px dotted #ADADAD;  }

#matches .match .wins { display: inline-block; background-color: #FFD700 ; height: 80px;  width: 40px;}

#matches .match .loses { display: inline-block; background-color: red ; height: 80px; width: 40px;}

#matches .match .team-a { float: left; text-align: left; }

#matches .match .team-b { float: right; text-align: right;}

#matches .match .teaminfo { display: inline-block; padding: 14px 10px 0;  width: 350px;}

#matches .match .teaminfo h1 { margin: 0; margin-bottom: 5px; font: 400 25px/1 "Oswald", sans-serif; }

#matches .match .teaminfo p { margin-bottom: 0; font-size: 13px }

#matches .match .data { margin: 0 auto; height: 80px; width: 240px; text-align: center;}

#matches .match .data img { width: 80px }

#matches .match .data .score{ display: inline-block; margin: 0 -4px; vertical-align: top; height: 80px; width: 80px ; font: 400 20px/80px "Oswald", sans-serif;}

#matches .match .details {
    padding: 2px;
    font-size: 13px;
}

#matches .match .details span {
    display: inline;
    padding: 0 10px;
    border-right: 1px dotted rgb(173, 173, 173);
    line-height: 1;
}

#matches .match .details span:last-child { border: none }

#matches .match .details span b.status { padding: 0 10px; border: 1px solid #fff; color: #fff; text-shadow: 0 1px 0 #000; text-transform: uppercase; }
#matches .match .details span b.status.red {  background-color: #CA0A0A }
#matches .match .details span b.status.yellow { background-color: #FBDB0C }
#matches .match .details span b.status.green { background-color: #00AF33 }

/* Table Sorter Styles
   ================================================== */

#sortable th { background: url(../images/static/bg.gif) no-repeat center right; cursor: pointer ; }

#sortable th.disabled { background: none; cursor: default; }

#sortable th.headerSortUp { background: url(../images/static/asc.gif) no-repeat center right }

#sortable th.headerSortDown { background: url(../images/static/desc.gif) no-repeat center right }

/* Fixes
   ================================================== */

form.xpadding,li.xpadding,input.xpadding { margin-bottom:10px; padding:10px; background: #D8D8D8; }

.xpadding input { margin: 0 }

.xpadding img { margin-right: 5px; width: 25px; vertical-align: -7px; }

.xpadding p { margin-bottom: 4px }

.alertfix p { display:inline; margin:auto; line-height: 2 }

.alertfix form { display: inline; float:right; margin-bottom: 0 }

ul.ulfix {margin: 0; list-style: none }

img.imgfix { display: block; margin-top: 10px; width: 50% }

/* Media Queries
   ================================================== */

/* Print */
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

@media (max-width: 480px) {  /* Landscape phones and down */

    #global-header #logo h1 {display: none!important}
    #menu .loginout li a {padding: 5px 10px!important}
    #menu .loginout li a img {display: none}
}

@media (max-width: 767px) {  /* Landscape phone to portrait tablet */

   body { background-image: none!important; }
    #global-header #loginout, #global-footer ,#menu,.messages .right.halfwidth { display: none; }
   .login { padding: 10px 0; }
   .login label.openid { display: block }
   #comments .meta .actions { display: table; float: none; }
   #respond textarea { width: 100% }

/* Global Header
   ================================================== */
    #global-header { margin-bottom: 10px; padding-top: 0; min-width: 0; box-shadow:0px;}
    #global-header #main { margin: 0 ; height: 42px;}
    #global-header .holder { width: auto }
    #global-header #logo { height: 100% }
    #global-header #logo img { margin-top: -2px; margin-bottom: -11px; height: auto !important; width: 80px !important; }
    #global-header #logo h1 { font-size: 18px; vertical-align: 0; }

/* Mobile menu
   ================================================== */
    #actions { position: fixed; z-index: 1000; left: 0; bottom: 0; right: 0; border-top: 1px solid #666; background-color: #E7E7E7; }
    #actions ul { margin: 0; padding: 0; border-top: 1px solid #ADADAD; text-align: center; }
    #actions li {  display: inline-block; margin-left: -4px; text-align: center; border-right: 1px solid #ADADAD; }
    #actions li:last-child { border-right: none }
    #actions li a { display: inline-block; position: relative; padding: 10px 15px 10px; text-decoration: none; color: #333 }
    #actions li a span { position: absolute; top: 3px; right: 6px; height: 11px; padding: 1px 2px; min-width: 9px; line-height: 1; font-family: Helvetica,Arial,sans-serif; font-size: 12px; text-shadow: 0px 1px 0px #000; color: #fff; box-shadow: 0px 1px 0px #000; border: 2px solid white; border-radius: 5px; background: #666;  }
    #actions li a:hover { background-color: #C9C9C9 }
    #actions li a:active { background-color: #888 }
    #actions i[class^="icon-"]::before, #actions i[class*=" icon-"]::before { margin-top: 4px; font-size: 25px; text-shadow: 0px 1px 1px #fff; }

/* Content
   ================================================== */
    #wrapper { width: auto }
    #pagemenu, #pagemenu li, #pagemenu .rside { display: none }
    #page { float: left; width: 100%!important }
    #sidebar { float: right; width: 100%!important; margin-top: 20px }
    .admin .fixedheight { max-height: 100%!important }

    /* Home page */
    #home #featured { width: auto }
    #home .homecontent { padding: 0; width: 100%;}
    #home .homecontent section { display: block; margin: 0; padding: 10px 10px; width: auto; border: 0; border-bottom: 1px dotted #fff; }

/* Multivew
   ================================================== */
    #multiview-controller li[data-multiview=big] { display: none; }
    #multiview .grid li { margin:0 0 10px; width: 100%; }
    #multiview .list .mv-image { display: none; }
    #multiview .list .mv-image + .mv-details { margin-left: 0; }

/* News
   ================================================== */
   .post h2.title, .post .title a { font-size: 24px; }
   .post .entry { font-size: 14px; }
   .post .meta .right, .post.single .left { display:none; }
   .post.single .right { display:inline; }

   /* Maps
   ================================================== */
   .maps-single #comments { display: none; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 989px) {
    #menu { display: block!important; }
    #actions { display: none }
}

/* Large desktop */
@media (min-width: 990px) {
    #menu,#global-footer { display: block!important; }
    #actions { display: none }
    .commentlist .meta .actions { display: inline; }
}